.Note {
  margin: 20px;
  background-color: $noteBackground;
  padding: 10px;
}

.Note_noteName {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.Note_noteName:hover {
  color: $noteHover;
}

.Note_content {
  margin: 30px;
  padding: 0 10px 20px 10px;
  background-color: $noteBackground;
}

.Note_noteMotified {
  font-size: 16px;;
}

@media (max-width: 540px) {
  .Note button {
    float: none;
    display: block;
    margin-top: 20px;
  }

  .Note_noteModified {
    display: block;
  }
}

@media (min-width: 541px) {
  .Note button {
    float: none;
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 700px) {
  .Note button {
    float: right;
    margin-top: -10px;
  }
}