.FolderButton {
  margin-top: 20px;
}

.FolderButton:hover {
  background-color: orange;
}

.Folderlist {
  display: block;
  text-align: center;
  padding: 20px 30px;
  border: 1px solid black;
  margin: 3px;
}

.Folderlist:hover {
  background-color: yellow;
}


.Folderlist.active {
  background-color: pink;
}