.FolderList li {
  text-align: center;
  padding: 20px 30px;
  border: 1px solid black;
  margin: 3px;
}

.FolderButton {
  margin-top: 20px;
}

.FolderButton:hover {
  background-color: orange;
}

.Folderlist_selected li:hover {
  background-color: yellow;
}

.FolderActive {
  background-color: pink;
}