.Folderlist {
  display: block;
  text-align: center;
  padding: 20px 30px;
  margin: 0 0 5px 5px;
  background-color: $folderBackground;
  color: $folderColor;
  font-weight: bold;
}

.Folderlist:hover {
  background-color: $folderHoverBackground;
  color: $folderHover;
}

.active {
  background-color: $folderSelected;
}