.NotesList {
  clear: both;
}

.NotesList li {
  padding: 20px;
  margin: 20px;
  background-color: $noteBackground;
}

.NotesList li a {
  color: $noteColor;
}

.NotesList .noteName {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.NotesList .noteName:hover {
  color: $noteHover;
}

.NotesList button {
  float: right;
  margin-top: -10px;
}

.NoteButton {
  display: block;
  margin: 20px auto;
}