.Header {
  font-weight: normal;
  padding-left: 50px;
}

.Header h1 {
  text-align: center;
  font-size: 2.5em;
}

.Header h1 a {
  color: $headerColor;
}

@media (max-width: 540px) {
  .Header {
    padding-left: 0;
  }
}