a {
  text-decoration: none;
  color: black;
}

button {
  background: #D9D9D9;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
}

button:hover,
button:focus {
  background-color: blueviolet;
  -webkit-box-shadow: 0 0 5px blueviolet;
          box-shadow: 0 0 5px blueviolet;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: blueviolet;
}

.bold {
  font-weight: bold;
}

.Add_button {
  margin: 20px auto;
  background-color: #D9D9D9;
  width: 150px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
  text-align: center;
}

.Add_button:hover,
.Add_button:focus {
  background-color: blueviolet;
  -webkit-box-shadow: 0 0 5px blueviolet;
          box-shadow: 0 0 5px blueviolet;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #F2F2F2;
}

.App {
  margin: 50px;
}

.App_sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App_FolderList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.App_NotesList {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 0;
  padding: 0;
  background-color: #666666;
}

@media (max-width: 540px) {
  .App_sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App_NotesList {
    margin-top: 20px;
  }
}

@media (min-width: 541px) {
  .App_sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App_NotesList {
    margin-top: 20px;
  }
}

@media (min-width: 600px) {
  .App_sections {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .App_NotesList {
    margin-top: 0px;
  }
}

.Header {
  font-weight: normal;
  padding-left: 50px;
}

.Header h1 {
  text-align: center;
  font-size: 2.5em;
}

.Header h1 a {
  color: blueviolet;
}

@media (max-width: 540px) {
  .Header {
    padding-left: 0;
  }
}

.Folderlist {
  display: block;
  text-align: center;
  padding: 20px 30px;
  margin: 0 0 5px 5px;
  background-color: #D9D9D9;
  color: black;
  font-weight: bold;
}

.Folderlist:hover {
  background-color: #666666;
  color: #e6e6fa;
}

.active {
  background-color: #666666;
}

.NotesList {
  clear: both;
}

.NotesList li {
  padding: 20px;
  margin: 20px;
  background-color: #cccccc;
}

.NotesList li a {
  color: black;
}

.NotesList button {
  float: right;
  margin-top: -10px;
}

.NoteButton {
  display: block;
  margin: 20px auto;
}

@media (max-width: 540px) {
  .NotesList button {
    float: none;
    display: block;
    margin-top: 20px;
  }
}

.Note_note {
  background-color: #cccccc;
  margin: 0 20px;
}

.Note {
  margin: 20px;
  background-color: #cccccc;
  padding: 10px;
}

.Note_noteName {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.Note_noteName:hover {
  color: blueviolet;
}

.Note_content {
  margin: 30px;
  padding: 0 10px 20px 10px;
  background-color: #cccccc;
}

.Note_noteMotified {
  font-size: 16px;
}

@media (max-width: 540px) {
  .Note button {
    float: none;
    display: block;
    margin-top: 20px;
  }
  .Note_noteModified {
    display: block;
  }
}

@media (min-width: 541px) {
  .Note button {
    float: none;
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 700px) {
  .Note button {
    float: right;
    margin-top: -10px;
  }
}

.Foldernote_folder {
  color: #cccccc;
  background-color: #666666;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.4em;
  padding: 10px;
}

.AddForm {
  padding: 20px;
  background-color: #cccccc;
  margin: 20px;
  border-radius: 5px;
}

.AddForm div {
  margin-top: 10px;
}

label {
  font-weight: bold;
  margin-left: 20px;
}

.submitButtons {
  margin-top: 20px;
}

.formButtons {
  margin: 10px;
  font-weight: bold;
}

.formSelect {
  color: #444;
  line-height: 1.3;
  padding: 0.6em 2em 0.6em 1.5em;
  margin-left: 10px;
  border: 1px solid #9c9a9a;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
}

.formSelect::-ms-expand {
  display: none;
}

.formSelect:hover {
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  font-weight: bold;
}

.formSelect:focus,
.formInput:focus,
.formTextArea:focus,
.formSelect:hover,
.formInput:hover,
.formTextArea:hover {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px blueviolet;
          box-shadow: 0 0 1px 3px blueviolet;
  color: #222;
  outline: none;
}

.formSelect option {
  font-weight: normal;
}

.formTextArea {
  vertical-align: top;
  width: 80%;
  height: 80px;
  min-height: 50px;
}

@media (max-width: 540px) {
  form h2 {
    font-size: 1.2em;
  }
  label {
    margin-left: 0;
  }
  input {
    width: 100%;
  }
  select {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

.error {
  color: red;
}
/*# sourceMappingURL=Noteful.css.map */