* {
  box-sizing: border-box;
}

html {
  background-color: $background;
}

a {
  text-decoration: none;
}

button {
  background: $buttonBackground;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  color: $buttonColor
}

button:hover {
  background-color: $buttonHover;
  color: $buttonColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.App {
  margin: 50px;
}

.App_sections {
  display: flex;
}

.App_FolderList {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: $background;
}

.App_NotesList {
  flex: 3;
  margin: 0;
  padding: 0;
  background-color: $noteMainBackground;
}

@media (max-width: 540px) {
  .App_sections {
    flex-direction: column;
  }

  .App_NotesList {
    margin-top: 20px;
  }
}

@media (min-width: 541px) {
  .App_sections {
    flex-direction: column;
  }

  .App_NotesList {
    margin-top: 20px;
  }
}

@media (min-width: 600px) {
  .App_sections {
    flex-direction: row;
  }

  .App_NotesList {
    margin-top: 0px;
  }
}