$background: black;
$noteMainBackground: #666666;

$folderColor: black;
$folderBackground: #E6E6FA;

$noteColor: black;
$noteBackground: #cccccc;

$folderHoverBackground: #666666;
$folderHover: #e6e6fa;
$folderSelected: #666666;

$noteHover: blueviolet;

$buttonColor: black;
$buttonBackground: #E6E6FA;
$buttonHover: blueviolet;

$headerColor: white;
