$background: #F2F2F2;
$noteMainBackground: #666666;

$folderColor: black;
$folderBackground: #D9D9D9;

$noteColor: black;
$noteBackground: #cccccc;

$folderHoverBackground: #666666;
$folderHover: #e6e6fa;
$folderSelected: #666666;

$noteHover: blueviolet;

$buttonColor: black;
$buttonBackground: #D9D9D9;
$buttonHover: blueviolet;

$headerColor: blueviolet;
